# 공공데이터포털 국토교통부 아파트매매 실거래 상세 자료 OpenAPI 일반 인증키 (Decoding 또는 Encoding 키)
# https://www.data.go.kr/data/15126469/openapi.do
DATA_GO_KR_API_KEY=28ba9464c3121a3df9240227fdd737ad949cc633c4897d77bfca42185375f6b4
